@model matriculacion_proy.Models.ViewModels.EditarUsuarioViewModel

@{
    ViewBag.Title = "Editar";
}

<center>
    <h2>EDITAR USUARIO</h2>
</center>
<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("Editar", "Usuario", FormMethod.Post, new { role = "form", }))
        {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(d => d.id);
        @Html.LabelFor(d => d.nombre, new { @class = "form-content" })
        @Html.TextBoxFor(d => d.nombre, new { @class = "form-control" })
        @Html.LabelFor(d => d.usuario, new { @class = "form-content" })
        @Html.TextBoxFor(d => d.usuario, new { @class = "form-control" })
        @Html.LabelFor(d => d.clave, new { @class = "form-content" })
        @Html.TextBoxFor(d => d.clave, new { @class = "form-control" })
        @Html.LabelFor(d => d.estatus, new { @class = "form-content" })
        @Html.TextBoxFor(d => d.estatus, new { @class = "form-control" })
        @Html.LabelFor(d => d.rol, new { @class = "form-content" })
        @Html.TextBoxFor(d => d.rol, new { @class = "form-control" })

        <br />

        <div style='text-align:left'>
            <input type="submit" class="btn btn-primary" value="Guardar">
        </div>
        }
    </div>
</div>